<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        
        <h3>Short URL Creation </h3>
        <p>
          Enter a URL below (must begin with 'http://' or 'https://') and click the "POST" button. 
        </p>
        <form action="/api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org">
          <input id="submit-button" type="submit" value="POST URL">
          <p style="width: 100%;"><code id="disp-result" style="width: 100%;"></code></p>
        </form>
        <h3>Example Usage:</h3>
        <a href="https://fcc-backend-url-shortener.kpworthi.repl.co/api/shorturl/3">
          https://fcc-backend-url-shortener.kpworthi.repl.co/api/shorturl/3
        </a>

        <h3>Will Redirect to:</h3>
        <p>http://www.bash.org</p>
      </div>
      <div class="footer">
        <p>
          initial set-up
          <a href="https://www.freecodecamp.org">freeCodeCamp</a>
          <br>
          completion of api
          <a href="codepen.io/kpworthi">Kevan Worthington</a>        </p>
      </div>

      <script>
        let reqURL = "https://fcc-backend-url-shortener.kpworthi.repl.co/api/shorturl/new";
        let urlBox = document.querySelector("#url_input");

        document.querySelector("#submit-button")
          .onclick = (e) => {
            let request = new XMLHttpRequest();
            let info = urlBox.value;
            e.preventDefault();
            request.open("POST", reqURL, true);
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send(`url=${info}`);

            request.onreadystatechange = function () {
              if(request.readyState === XMLHttpRequest.DONE) {
                var status = request.status;
                if (status === 0 || status === 200) {
                  console.log("Completed!");
                  let resp = JSON.parse(request.response);
                  if(!resp.error){
                    document.querySelector("#disp-result")
                            .textContent = "New short url is: " +
                                  resp.url;
                  } else {
                    document.querySelector("#disp-result")
                            .textContent = "Error: " +
                                  resp.error;
                  }
                } else {
                  throw new Error("Help! Issue with request.");
                }
              }
            };

          };
      </script>
   </body>


</html>